<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.software.live_wallpaper" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="com.samsung.android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="com.samsung.android.permission.READ_SETTINGS" />
    <uses-permission android:name="com.samsung.android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />

    <attribution
        android:label="@string/description"
        android:tag="@string/empty" />
    <attribution
        android:label="@string/description"
        android:tag="audioPlayback" />

    <application
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/data_extraction_rules"
        android:icon="@drawable/ic_app_square"
        android:roundIcon="@drawable/ic_app_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".ReibuApplication"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/gms_app_id" />

        <service
            android:name=".service.ImageWallpaperService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/image_wallpaper_thumbnail" />
        </service>

        <service
            android:name=".service.VideoWallpaperService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <!-- Phone Launch, long press -> select background -> live background -->
            <!-- Has background image and label as app name, android 10 label = name -->
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/video_wallpaper_thumbnail" />
        </service>

        <activity
            android:name=".ui.ReibuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>